# package directories
node_modules
jspm_packages
utils/hurst.js
package-lock.json

# Serverless directories
.serverless
.webpack
.DS_Store
DataScrap/btcusd.txt
DataScrap/ethusd.txt
DataScrap/neousd.txt

