# package directories
node_modules
jspm_packages
utils/hurst.js
package-lock.json

# Serverless directories
.serverless
.webpack
.DS_Store
DataScrap/result1.txt
DataScrap/result2.txt
DataScrap/result3.txt

